@media screen and (min-width: 740px) {
  #mainNav {
    top: 0;
    right: 40px;
    position: fixed; }

  #mainNav ul {
    list-style-type: none;
    width: 100%; }

  #mainNav ul li a {
    text-decoration: none;
    color: #E3DCC6;
    font-family: Futura, bold; }

  .deskNav {
    display: contents; }

  .deskNav ul {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px; }

  .deskNav ul li {
    margin: 15px; }

  .deskNav ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px; }

  .deskNav a:hover {
    background-color: grey; } }
@media screen and (min-width: 960px) {
  #mainNav {
    margin-right: 100px; } }
#deskAvatar {
  display: none; }

#deskCon {
  display: none; }

.top-banner {
  width: 100%;
  height: 685px;
  background-color: #9FA47B; }

.top-banner p {
  color: #5C5C5C;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 22px;
  font-family: "Roboto", sans-serif; }

.top-banner h1 {
  color: #E3DCC6;
  font-family: futura, bold;
  font-size: 25px; }

.section-1 {
  margin-top: 300px; }

.logoHeader {
  padding: 20px;
  margin: 0 auto; }

@media screen and (min-width: 740px) {
  .logoHeader {
    position: absolute;
    left: 0;
    top: 0; }

  #section-1 img {
    float: left;
    width: 50%;
    margin-left: 10px;
    margin-top: 130px; }

  #text {
    float: right;
    margin-top: 150px;
    width: 40%; }

  #deskCon {
    display: contents; } }
@media screen and (min-width: 960px) {
  .top-banner h1 {
    font-size: 30px; }

  .top-banner p {
    font-size: 22px;
    line-height: 28px; }

  #text {
    margin-right: 130px; }

  #mobileAvatar {
    display: none; }

  #deskAvatar {
    display: contents; }

  #deskAvatar img {
    margin-top: 70px; } }
.portfolioPieces h3 {
  font-size: 25px;
  font-family: futura, bold;
  color: #9FA47B; }

.portfolioPieces p {
  color: #5C5C5C;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif; }

.portfolioPieces {
  background-color: #F5F1E2; }

@media screen and (min-width: 740px) {
  .boxes {
    display: flex;
    flex-wrap: wrap; }

  #section-2 {
    min-height: 100px;
    background: #F5F1E2;
    flex: calc(100% / 3);
    text-align: center; }

  * {
    box-sizing: border-box; }

  .boxes img {
    width: 100%;
    height: 100%; }

  .portfolioPieces p {
    font-size: 22px; } }
.contact {
  height: 480px;
  width: 100%;
  margin: 0 auto; }

#social p {
  color: #F5F1E2;
  display: flex;
  flex: end;
  font-family: Futura, bold; }

.contact h3 {
  text-align: center;
  margin-top: 30px; }

.contact-form label {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #5C5C5C;
  display: flex;
  flex: start;
  margin-left: 20px; }

.contact-form input textarea {
  background-color: #fff;
  opacity: 0.9; }

.contact-form input[type=placeholder] {
  font-family: 'Roboto', sans-serif; }

.contact-form placeholder {
  font-family: 'Roboto', sans-serif; }

.contact-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #9FA47B; }

.contact-form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #9FA47B; }

.contact {
  background-color: #F5F1E2; }

@media screen and (min-width: 960px) {
  .contact h3 {
    padding: 20px; }

  #social p {
    margin-left: 850px; } }
.show-popover {
  display: block !important; }

.show-popover {
  display: contents;
  position: fixed;
  top: 10%;
  left: 7%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 30%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50; }

@media screen and (min-width: 960px) {
  .about p {
    font-size: 20px;
    padding: 5px; }

  .show-popover {
    display: block !important; }

  .show-popover {
    display: contents;
    position: fixed;
    top: 10%;
    left: 7%;
    background-color: #eee;
    box-shadow: 5px 5px 8px 2px #000000;
    width: 90%;
    height: 80%;
    z-index: 1;
    border-radius: 8px;
    padding: 4px;
    margin: 0 auto;
    color: #2C3C50; } }
/* button for LB */
.see-more {
  display: block;
  padding: 12px 18px;
  border-radius: 8px;
  color: black;
  background-color: #9FA47B;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif, bold;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  color: white;
  /*popover on mobile*/ }

.popover {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 90%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50; }

.show-popover {
  display: block !important; }

.show-popover {
  display: contents;
  position: fixed;
  top: 10%;
  left: 7%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 90%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50; }

.show-popover h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; }

.show-popover p {
  font-size: 20px;
  line-height: 1.5;
  color: #595654;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif; }

.popover #close {
  float: right;
  padding: 3px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: black; }

footer {
  color: #5C5C5C;
  text-align: center;
  background-color: #5C5C5C;
  height: 100px;
  padding: 20px;
  align-items: center;
  font-size: 14px; }

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

#social img {
  height: 50px;
  margin: 0 10px 0 10px; }

.socialIcon:hover {
  opacity: 0.5;
  transition: 0.2s ease; }

@media screen and (min-width: 786px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px; } }
html, body {
  height: 100%;
  margin: 0; }

.hidden {
  display: none; }

#hide {
  display: none; }

.responsive {
  max-width: 100%;
  height: auto; }

main {
  text-align: center; }

h3 {
  font-family: Futura, bold;
  color: #9FA47B;
  font-size: 25px; }

.btn2 {
  font-size: 15px;
  margin: 20px;
  display: block;
  padding: 12px 18px;
  border-radius: 8px;
  background-color: #B23737;
  font-family: 'Roboto', sans-serif;
  font-weight: 50px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  color: white; }

.btn {
  display: block;
  padding: 12px 18px;
  border-radius: 8px;
  color: black;
  background-color: #E3DCC6;
  font-family: 'Roboto', sans-serif;
  font-weight: 50px;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  color: #5C5C5C; }

.container {
  background-color: #F5F1E2; }

@media screen and (min-width: 740px) {
  .see-more {
    width: 100%;
    font-size: 15px;
    margin: 20px;
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    color: black;
    background-color: #9FA47B;
    font-family: 'Roboto', sans-serif;
    font-weight: 50px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    color: #5C5C5C; } }
@media screen and (min-width: 960px) {
  .portfolioPieces h3 {
    font-size: 44px; }

  .contact h3 {
    font-size: 44px; }

  .see-more {
    margin-top: 10px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
