.hidden
{
  display: none;
}

/* html
{
  scroll-behavior: smooth;
} */

 body{
    margin: 0; 
   /* display: block; */
   padding: 0;
   /* background-color: #fff; */
   width: 100%;
} 

#hide
{
  display: none;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

  .container {
    /* padding-right: 15px;
    padding-left: 15px; */
     margin-right: auto;
    margin-left: auto; 
    overflow-x: hidden;
    /* max-width: 1260px; */
    /* margin: 0 auto; */
    
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: italic;
    text-align: middle;
  }


  /*----------HOME PAGE-------------------*/



/* mobile nav */
#mainNav
{
 top: 0;
 right: 40px;
 position: fixed; 

}

#mainNav ul
{
  list-style-type: none;
  width: 100%;
}



#mainNav ul li a{
  text-decoration: none;
  color: #edf6f9;
}


  #mainNav button
{
	background: url(..//images/burger.svg) center no-repeat;
	width: 25px;
	height: 25px;
	border: 0px;
	transition: all 400ms ease;
  margin-top: 23px;
  /* margin-left: 55px; */
}


#burgerMenu a
{
  display: block;
  height: 40px;
  width: 100%;
  background: #2C3C50;
  cursor: pointer;
  overflow: hidden;
  /* height: 0; */
  text-align: left;
  
}

#burgerMenu
{
  margin-right: 100px;
}

/* #burgerCon.slideToggle
{
  display: flex;
  flex: start;
  display: block;
  position: fixed;
} */

/* #mainNav button.expanded
{
	-webkit-transfrom: rotate(90deg);
	-ms-transfrom: rotate(90deg);
	transform: rotate(90deg);
  background: url(../images/burger_active.svg) center no-repeat;
	width: 25px;
  height: 25px;
 
} */





#burgerCon
{
margin-top: 5px;
 display: none; 
}

#burgerCon.slideToggle
{
  display: flex;
  flex: start;
  display: block;
  position: fixed;
}




/*---------------------------*/
  .mainHeader
  {
     
      height: 73px;
      width: 100%;
      padding: 0;
      background-color:#2c3c50;
      position: fixed;
  }

 

.logoHeader
{
	width: 220px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
}
 



/*----------banner----------*/

  .banner
{
    
     height: 413px;
    /* background-color: #1ABC9C; */
    width: 100%; 
    


background: linear-gradient(215deg, #2c3c50, #1abc9c);
background-size: 400% 400%;

-webkit-animation: AnimationName 54s ease infinite;
-moz-animation: AnimationName 54s ease infinite;
animation: AnimationName 54s ease infinite;

@-webkit-keyframes AnimationName {
   0%{background-position:58% 0%}
   50%{background-position:43% 100%}
   100%{background-position:58% 0%}
}
@-moz-keyframes AnimationName {
   0%{background-position:58% 0%}
   50%{background-position:43% 100%}
   100%{background-position:58% 0%}
}
@keyframes AnimationName {
   0%{background-position:58% 0%}
   50%{background-position:43% 100%}
   100%{background-position:58% 0%}
}
    
    
    
}  


#text 
{
    text-align: center;
    padding-top: 40px;
    color: #edf6f9; 
    padding-top: 115px;

}

#text h1
{
  font-size: 50px;
  font-weight: lighter; 
  font-family: 'Yanone Kaffeesatz', sans-serif;
  
}

#text h2 {
  font-weight: bolder;
  font-family: 'Roboto', sans-serif, bold;
  font-size: 25px;
  /* letter-spacing: 0.2em; */
  margin: -26px;
}

/*----------portfolio pieces----------*/
.boxes img
{
   width: 70%;
   display: block;
   margin: 0 auto;
    
}
#box1
{
    
    
    /*background-color: grey;*/
     margin-top:18px;
     margin-bottom: 18px;
     
}


.portfolioPieces h3
{
  color: #2C3C50;
  text-align: center;
}






.portfolioPieces ul 
{
  list-style-type: none;
 text-align: center; 
}

.portfolioPieces ul li{
  display: inline;
  font-family: 'Roboto', sans-serif, bold;
  font-size: 20px;
  color: #2C3C50;
  font-weight: bolder;
  
}


.portfolioPieces ul li:hover
{
  color: #595654;
}

/*---------ABOUT--------*/

.about img{
  padding: 5px;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about p 
{
  font-family: 'Open Sans', sans-serif;
  color: #2C3C50;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  
}


.about{
    height: 90%;
    background-color: #edf6f9;
    padding: 16px;
    
}




.thin
{
  height: 1px;
border: 0;
color: #1ABC9C;
background-color: #1ABC9C;
width: 80%;
margin-top: 5px;

}

#lineBox
{
  margin-top: 29px;
}



/*---------Contact----------*/

.contact
{
    height: 391px;
    background-color: white;
    width: 98%;
    margin: 0 auto;
}

.contact h3{
  color: #2C3C50;
  text-align: center;
}

.footer
{
    height: 345px;
    background-color: #2C3C50;
}






.contact-form label
{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #595654;
}

.contact-form input textarea
{
  background-color: #fff;
  opacity: 0.9;
}

.contact-form input[type=placeholder]
{
  font-family: 'Open Sans', sans-serif;
}

.contact-form placeholder
{
  font-family: 'Open Sans', sans-serif;
}

.contact-form input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #1ABC9C;
}


.contact-form textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #1ABC9C;
  /*box-sizing: border-box;*/
}



/* .btn
{
  display: inline-block; 
  background: #2C3C50;
  padding: 17px 40px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 69%;
  border-radius: 10px;
  text-align: center;
  /* align-content: center; */
  /* left: 18%; */
  /* margin-left: 30%;
   */
} */




.btn:hover, button:hover {
  background: gray;
}

/*------------FOOTER-------------*/

#footerNavMobile ul
{
  list-style-type: none;
  text-align: center;
  
}

#footerNavMobile ul li{
  display: inline;
  margin: 10px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  
}

#footerNavMobile ul li a
{
color:white;
text-decoration: none;
} 

.footer h2
{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
 font-family: 'Roboto', sans-serif, bold;
 text-decoration-line: underline;
 text-decoration-color: #595654;
}



/*------sticky nav------*/

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/*.sticky + .content {
  padding-top: 102px;
} */
/*----main nav----*/
@media screen and (min-width: 740px) {

  .deskNav 
  {
    display: contents;
    /* display: flex;
  	flex-direction: row;
    justify-content: center; */
  }

  .deskNav ul 
  {
display: flex;
flex-direction: row;
margin: 10px;
padding: 10px;
  }

  .deskNav ul li
  {
    margin: 15px;
    
  }

  .deskNav ul li 
  {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px; 
  }
  

  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 3px;
    }
    50% {
      width: 100%;
      height: 3px;
    }
    /* 100% {
      width: 100%;
      height: 100%;
      background: #1ABC9C;
    } */
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: #555;
  }
  
  
  /* stroke */
  
  .fill ul li a {
    position: relative;
  }
  
  .fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1ABC9C;
    height: 3px;
  }
  
  
  
 
  
  .fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }



  #burgerMenu
  {
    display:none;
  }

  #button
  {
    display:none;
  }

  #text h1
  {
    font-size: 75px;
  }

  #text h2
  {
    font-size: 40px;
  }

  .show-popover {display: block !important;}
.show-popover 
{
  display: contents;
  position: fixed;
  top: 10%;
  left: 7%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 30%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50;
}
}

@media screen and (min-width: 940px) {

  #text h1
  {
    font-size: 85px;
  }


  .boxes{
    display: flex;
    flex-direction: row;
  }


  #box1 img
  {
    
     width: 80%;
  }


  .about p
  {
    font-size: 20px;
    padding: 5px;
  }

  .show-popover {display: block !important;}

.show-popover 
{
  display: contents;
  position: fixed;
  top: 10%;
  left: 7%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 50%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50;
}


}




/* button for LB */

.see-more { 
  display: block; 
  padding: 12px 18px; 
  border-radius: 8px; 
  color: black; 
  background-color: #2C3C50; 
  margin-top: 8px;
  font-family: 'Roboto', sans-serif, bold;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  color: white;
  
/*popover on mobile*/
}

 .popover { 
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 50%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50; 
} 

.show-popover {display: block !important;}
.show-popover 
{
  display: contents;
  position: fixed;
  top: 10%;
  left: 7%;
  background-color: #eee;
  box-shadow: 5px 5px 8px 2px #000000;
  width: 90%;
  height: 50%;
  z-index: 1;
  border-radius: 8px;
  padding: 4px;
  margin: 0 auto;
  color: #2C3C50;
}

.show-popover h3
{
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
.show-popover p{
  font-size: 20px;
  line-height: 1.5;
  color: #595654;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
  
}

.popover #close {
  float:right;
  padding:3px;
  margin:5px 5px 0 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* .popover .close:hover {
  font-size: 24px;

} */




.see-more:hover{
  background-color: #595654;
}

.video{
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  
}

h4{
  width: 95%;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  color: #2C3C50;
}


 
