

@media screen and (min-width: 740px) {

    #mainNav
{
 top: 0;
 right: 40px;
 position: fixed; 
 

}

#mainNav ul
{
  list-style-type: none;
  width: 100%;
  
}



#mainNav ul li a{
  text-decoration: none;
  color: #5C5C5C;
  font-family: Futura, bold;
 
}



.deskNav 
  {
    display: contents;
  }

  .deskNav ul 
  {
display: flex;
flex-direction: row;
margin: 10px;
padding: 10px;
  }

  .deskNav ul li
  {
    margin: 15px;
    
  }

  .deskNav ul li 
  {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px; 
  }

  #deskMenu li a:hover{
    transition: 0.2s ease;
    color: #b23737;
  }
  // .deskNav a:hover
  // {
  //   background-color: grey;
  // }


}



@media screen and (min-width: 960px) {


    #mainNav
    {
        margin-right: 100px;
    }

}



